ORDER_SERVICE_NAME=order-service
ORDER_SERVICE_PORT=3001

TRACKING_SERVICE_NAME=tracking-service
TRACKING_SERVICE_PORT=3002

NOTIFICATION_SERVICE_NAME=notification-service
NOTIFICATION_SERVICE_PORT=3003
